@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", "Arial", "sans-serif";
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-[#F8FAFC] text-[#1E293B] antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CBD5E1;
}